<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.589602177745-p6g4dmsg0eqjai7u0aajif43ga61ckrq</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GIDClientID</key>
	<string>$(GIDClientID)</string>
	<key>GOOGLE_REVERSED_CLIENT_ID</key>
	<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
	<key>UIApplicationSceneManifest</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
		<key>UIImageName</key>
		<string>SampleLaunchScreen</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
